li{
    list-style: none;
}

body {
    background-image: url(../img/background-image.png);
    
}

.dark-footer {
    background-color: #333; 
    color: gray;
    padding: 20px; 
    text-align: center; 
}


.footer-links a {
    color: #fff; 
    text-decoration: none; 
    margin: 10px; 
}


.footer-links a:hover {
    color: #fff; 


}

p {

    color: black;
    text-align: center;
}

li p {

text-decoration: none;

}

h1 {

    font-family: 'Dela Gothic One', cursive;
    


}

h2 {

font-size: 18pt;

}

p {

    font-family: 'Dela Gothic One', cursive;
    
    

}

.pfp {

float: left;

}

